---

---

<main>
  <div class="w-auto h-auto bg-black flex justify-center px-10">
    <div class="w-full h-full lg:flex md:block">
      <div
        class="lg:w-[30%] md:w-full lg:h-full justify-center flex md:h-[20%]"
      >
        <h1 class="text-[max(5vw,40px)] text-end text-white">
          Artist
          <br />
          <span class="font-bold">Directory</span>
        </h1>
      </div>
      <div
        class="lg:w-[70%] lg:col-span-3 md:col-span-6 md:w-screen lg:h-full md:h-fit"
      >
        <div class="w-full h-full p-4 grid lg:grid-cols-3 md:grid-cols-2">
          <div
            class="p-2 flex lg:w-full md:w-[50%] col-span-1 col-start-1 justify-center items-center"
          >
            <div
              class="lg:p-10 md:p-0 lg:w-[16vw] lg:h-[17vw] md:w-full md:h-full rounded-2xl bg-slate-50 shrink"
            >
              <img
                src="/public/Music.png"
                alt="audiovisual"
                class="shrink object-contain p-4"
              />
              <p class="text-center text-[18px]">AudioVisual Media</p>
            </div>
          </div>
          <div
            class="p-2 flex lg:w-full md:w-[50%] col-span-1 col-start-2 justify-center items-center"
          >
            <div
              class="lg:p-10 md:p-0 lg:w-[16vw] lg:h-[17vw] md:w-full md:h-full rounded-2xl bg-slate-50"
            >
              <img
                src="/public/Interactive media.png"
                alt="interactive"
                class="shrink object-contain p-4"
              />
              <p class="text-center text-[18px]">Interactive Media</p>
            </div>
          </div>
          <div
            class="p-2 flex lg:w-full md:w-[50%] justify-center items-center"
          >
            <div
              class="lg:p-10 md:p-0 lg:w-[16vw] lg:h-[17vw] md:w-full md:h-full rounded-2xl bg-slate-50"
            >
              <img
                src="/Creative Services.png"
                alt="interactive"
                class="shrink object-contain p-4"
              />
              <p class="text-center text-[18px]">Creative Services</p>
            </div>
          </div>
          <div
            class="p-2 flex lg:w-full md:w-[50%] justify-center items-center"
          >
            <div
              class="lg:p-10 md:p-0 lg:w-[16vw] flex-col flex justify-center items-center lg:h-[17vw] md:w-full md:h-full rounded-2xl bg-slate-50"
            >
              <img
                src="/Architecture.png"
                alt="interactive"
                class="shrink object-contain w-[90%] p-4"
              />
              <p class="text-center text-[18px]">Design</p>
            </div>
          </div>
          <div
            class="p-2 flex lg:w-full md:w-[50%] justify-center items-center"
          >
            <div
              class="lg:p-10 md:p-0 lg:w-[16vw] flex flex-col items-center lg:h-[17vw] md:w-full md:h-full rounded-2xl bg-slate-50"
            >
              <img
                src="/Publishing.png"
                alt="interactive"
                class="shrink object-contain w-[90%] h-[90%] p-4"
              />
              <p class="text-center whitespace-normal text-[18px]">
                Publishing and Printed Media
              </p>
            </div>
          </div>
          <div
            class="p-2 flex lg:w-full md:w-[50%] justify-center items-center"
          >
            <div
              class="lg:p-10 md:p-0 lg:w-[16vw] flex flex-col items-center lg:h-[17vw] md:w-full md:h-full rounded-2xl bg-slate-50"
            >
              <img
                src="/Performing Arts.png"
                alt="interactive"
                class="shrink object-contain w-[90%] h-[90%] p-4"
              />
              <p class="text-center text-[18px]">Performing Arts</p>
            </div>
          </div>
          <div
            class="p-2 flex lg:w-full md:w-[50%] justify-center items-center"
          >
            <div
              class="lg:p-10 md:p-0 lg:w-[16vw] flex flex-col items-center lg:h-[17vw] md:w-full md:h-full rounded-2xl bg-slate-50"
            >
              <img
                src="/Visual.png"
                alt="interactive"
                class="shrink object-contain w-[90%] h-[90%] p-4"
              />
              <p class="text-center text-[18px]">Visual Arts</p>
            </div>
          </div>
          <div
            class="p-2 flex lg:w-full md:w-[50%] justify-center items-center"
          >
            <div
              class="lg:p-10 md:p-0 lg:w-[16vw] flex flex-col items-center lg:h-[17vw] md:w-full md:h-full rounded-2xl bg-slate-50"
            >
              <img
                src="/PerformingArts2.png"
                alt="interactive"
                class="shrink object-contain w-[90%] h-[90%] p-4"
              />
              <p class="text-center text-[15px]">
                Traditional Cultural <br /> Expressions
              </p>
            </div>
          </div>
          <div
            class="p-2 flex lg:w-full md:w-[50%] justify-center items-center"
          >
            <div
              class="lg:p-10 md:p-0 lg:w-[16vw] flex flex-col items-center lg:h-[17vw] md:w-full md:h-full rounded-2xl bg-slate-50"
            >
              <img
                src="/Visual2nd.png"
                alt="interactive"
                class="shrink object-contain w-[90%] h-[90%] p-4"
              />
              <p class="text-center text-[18px]">Cultural Sites</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
